body{
    background-color: lightslategray;
    }

#mainnav{
    background: #000;
}

#mainnav ul{
    list-style:none;

}
#mainnav  ul li{
    padding: 10px 15px;
    background: #000;
    display: inline-block ;
}

#mainnav ul li a {
    text-decoration: none;
    display:inline-block;
}

#mainnav ul ul{
    display: none;
    position:absolute;
}

#mainnav ul li:hover ul{
    display:block;
}
#mainnav ul ul{
    width: 150px;
}
#mainnav ul ul li a{
    display: block;
}

#conteudo {
    background: lightgray;
    color: black;
    padding: 10px;
    margin: 10px;
}

#conteudo p{
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-family: 'Arial';
}